@import "colors";
@import "fonts";
@import "sizes";

*{
  padding: 0;
  margin: 0;
}

.no-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.vertical-align{
  display: flex;
  align-items: center;
}

// Header
header{
  height: $primary-height/15;
  background-color: #eee;
  -moz-box-shadow:    inset 0 0 20px #DDDDDD;
  -webkit-box-shadow: inset 0 0 20px #DDDDDD;
  box-shadow:         inset 0 0 20px #DDDDDD;
  .container{
    height: 100%;
    .col-xs-2{
      span{
        @extend .no-padding;
        font-size: $primary-font-size + 14px;
        color: #000;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}

//Welcome

//LogIn

//ChoiceOption
.choiceOption{
  height: $primary-height;
  .row:first-child{
    background-image: url('../img/fachada-inte.jpg');
    background-size: cover;
    background-position: center;
  }
  .row:last-child{
    @extend .vertical-align ;
    border: 2px solid $primary-color;
  }
}

// Region
.region{
  .col-xs-12{
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
}

// Map
div.map {
  width:50vw;
  height: 40vh;
}
