@import "colors";
@import "fonts";
@import "sizes";
@import "mixins";

*{
  padding: 0;
  margin: 0;
}

.no-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.vertical-align{
  display: flex;
  align-items: center;
}

// Header
header{
  height: $primary-height/15;
  background-color: #eee;
  -moz-box-shadow:    inset 0 0 20px #DDDDDD;
  -webkit-box-shadow: inset 0 0 20px #DDDDDD;
  box-shadow:         inset 0 0 20px #DDDDDD;
  .container{
    height: 100%;
    .col-xs-2{
      span{
        @extend .no-padding;
        font-size: $primary-font-size + 14px;
        color: #000;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}

//ChoiceOption
.choiceOption{
  height: $primary-height;
  .row:first-child{
    background-image: url('../img/fachada-inte.jpg');
    background-size: cover;
    background-position: center;
  }
  .row:last-child{
    @extend .vertical-align ;
    border: 2px solid $primary-color;
  }
}


// Map
div.map {
  width:50vw;
  height: 40vh;
}

//Login
.login__bg{
	background-image: url("../img/salaverry2.jpg");
}
.welcome__bg{
	background-image: url("../img/salaverry.jpg");
}
.login__bg,
.welcome__bg{
	height: 70vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	flex-direction: column-reverse;
	-webkit-box-shadow: inset -2px -6px 91px 9px rgba(0,0,0,0.66);
	-moz-box-shadow: inset -2px -6px 91px 9px rgba(0,0,0,0.66);
	box-shadow: inset -2px -6px 91px 9px rgba(0,0,0,0.66);
}
.contentButton{
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	:nth-child(1){
		color: white;
		margin-bottom: 10px;
		width: 63%;
		background-color: $primary-color;
		transform: translateY(-1px);
		box-shadow: 0 7px 14px rgb(80, 77, 77), 0 3px 6px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		cursor: pointer;
		&:hover{
			color: white;
			transform: translateY(1px);
			box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		}
	}
	:nth-child(2){
		color: white;
		margin-bottom: 10px;
		width: 63%;
		background-color: $primary-color;
		transform: translateY(-1px);
		box-shadow: 0 7px 14px rgb(80, 77, 77), 0 3px 6px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		cursor: pointer;
		&:hover{
			color: white;
			transform: translateY(1px);
			box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		}
	}
}
.choiceOption_bg{
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/madreHijo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
	height: 100vh !important;
	display: flex;
	justify-content: space-between;
	flex-direction: column-reverse;
	.localizacion__title {
		font-size: 34px;
	}
	.localizacion__subtitle {
		font-size: 20px;
		font-weight: lighter;
	}
	.choiceOption_groupBtn{
		height: 200px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		button{
			color: white;
			margin-bottom: 10px;
			width: 63%;
      background: $primary-color;
    	transform: translateY(-1px);
			box-shadow: 0 7px 14px rgb(80, 77, 77), 0 3px 6px rgba(0, 0, 0, 0.08);
			border-radius: 4px;
			cursor: pointer;
			&:hover{
				color: white;
				transform: translateY(1px);
				box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
			}
		}
		.text{
			color:white;
			border-bottom: 0.5px solid white;
		}
	}
}

.localizacion__title{
	color:white;
	font-style: 30px;
	font-weight: bold;
}

.localizacion__subtitle{
	color:white;
	font-style: 20px;
	font-weight: lighter;
}


// Region
$img: "../img/sedes-min/arequipa.jpg", "../img/sedes-min/cajamarca.jpg", "../img/sedes-min/trujillo.jpg","../img/sedes-min/chimbote.jpg", "../img/sedes-min/huanuco.jpg", "../img/sedes-min/juliaca.JPG", "../img/sedes-min/piura.jpg",
"../img/sedes-min/primavera.jpg", "../img/sedes-min/pro.jpg", "../img/sedes-min/pucallpa.jpg", "../img/sedes-min/santa-clara.jpg",  "../img/sedes-min/puruchuco.jpg";
.region{
	@for $i from 1 through length($img)  {
		.col-xs-12:nth-child(#{$i}){
			@include backgroundImages(nth($img, $i));
		}
	}
	.col-xs-12{
		padding: 15px;
		border-bottom: 1px solid #eee;
		color: #fff;
		font-weight: bold;
		font-size: 2rem;
		background: rgba(225, 18, 130, .2);
		// background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/banner.jpg');
		&:hover{
			opacity: .2;
		}
	}
}

div.map {
	width: 50vw;
	height: 40vh;
}

line {
	stroke: #e11383;
	stroke-width: 4;
	stroke-linecap: round;
	stroke-dasharray: 6,5;
	fill: none;
}

.map-svg {
	background-color: #efefef;
	min-height: 100vh;
	height: auto;
}

.map-svg h3 {
	color: #6c2774;
}

.map-svg h3 span {
	color: #e11383;
}

#buscar_comercial {
	border: none;
	border-bottom: 2px solid #6c2774;
	margin: 21px auto;
	background-color: #efefef;
	font-weight: bold;
	width: 250px;
	outline: none;
}


